.App {
  text-align: center;
}

.calculator{
  background-color: #000206;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 100px;
}



